@import "tailwindcss";

@layer base {
  * {
    scroll-behavior: smooth;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

section {
  scroll-margin-top: 100px;
}

.hero-bg {
  background: radial-gradient(circle at 10% 10%,
      rgba(125, 211, 252, 0.25),
      transparent 50%),
    radial-gradient(circle at 80% 30%,
      rgba(253, 127, 0, 0.25),
      transparent 60%),
    radial-gradient(circle at 50% 90%,
      rgba(252, 252, 249, 0.25),
      transparent 70%),
    #ffffff;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}
